<html>
<head>
  <meta charset="UTF-8">
  <title><%= @title %></title>
</head>
<body>
  <table>
    <thead>
      <th>id</th>
      <th>name</th>
      <th>val</th>
    </thead>
    <tbody>
      <% @numbers.each do |number| %>
        <tr>
          <td><%= number.id %></td>
          <td><%= number.name %></td>
          <td><%= number.val %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3>Create</h3>
  <form action="/numbers" method="post">
    <p>name: <input type="text" name="name" /></p>
    <p>val: <input type="text" name="val" /></p>
    <input type="submit" value="送信">
  </form>
  <hr>
  <h3>Update</h3>
  <form action="/numbers" method="post">
    <input name="_method" type="hidden" value="PUT">
    <p>id: <input type="text" name="id" /></p>
    <p>name: <input type="text" name="name" /></p>
    <p>val: <input type="text" name="val" /></p>
    <input type="submit" value="送信">
  </form>
  <hr>
  <h3>Destroy</h3>
  <form action="/numbers" method="post">
    <input name="_method" type="hidden" value="DELETE">
    <p>id: <input type="text" name="id" /></p>
    <input type="submit" value="削除">
  </form>
</body>
</html>
